{% load i18n %}

{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{% trans "App to manage students database" %}" />
    <title>{% trans "Students Accounting Service" %} - {% block meta_title %}{% endblock meta_title %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Bootstrap-datetimepicker CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static "css/main.css" %}" />
    {% block extra_css %}{% endblock extra_css %}

</head>

<body>
    <!-- Start container -->
    <div id="container" class="container">

        <!-- Start header -->
        <div class="row" id="header">
            <!-- Logo -->
            <div class="col-xs-6">
                <h1>{% block logo %}{% trans "Students Accounting Service" %}{% endblock logo %}</h1>
            </div>

            <!-- Groups Selector -->
            {% if user.is_authenticated %}
                <div class="col-xs-3" id="group-selector">
                    <strong>{% trans "Group" %}:</strong>
                    <select>
                        {% block group_menu %}
                        <option value="">{% trans "All Students" %}</option>
                        {% for group in GROUPS %}
                            <option value="{{ group.id }}" {% if group.selected %} selected="1" {% endif %}>
                                {{ group.title }} {% if group.leader %}, {{ group.leader }}{% endif %}
                            </option>
                        {% endfor %}
                        {% endblock group_menu %}
                    </select>
                </div>
                <!-- User's toolbar for authenticated users -->
                <div class="col-xs-3" id="user-toolbar">
                    <a href="{% url "profile" %}">{{ user.get_full_name|default:user.username }}</a> |
                    <a href="{% url "users:auth_logout" %}">{% trans "Logout" %}</a>
                </div>
            {% else %}
                <!-- User's toolbar for anonymous users -->
                <div class="col-xs-3" id="user-toolbar">
                    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">{% trans "via Facebook" %}</a> |
                    <a href="{% url "users:auth_login" %}">{% trans "Login" %}</a> |
                    <a href="{% url "users:registration_register" %}">{% trans "Registration" %}</a>
                </div>
            {% endif %}
        </div>
        <!-- End header -->

        <!-- Start sub-header -->
        {% block sub-header %}
        <div class="row" id="sub-header">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" {% if request.path == students_url %} class="active" {% endif %}>
                        <a href="{% url "home" %}">{% trans "Students" %}</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li role="presentation" {% if request.path in journal_url %} class="active" {% endif %}>
                            <a href="{% url "journal" student.id %}">{% trans "Journal" %}</a>
                        </li>
                        <li role="presentation" {% if request.path in groups_url %} class="active" {% endif %}>
                            <a href="{% url "groups" %}">{% trans "Groups" %}</a>
                        </li>
                        <li role="presentation" {% if request.path in events_log_url %} class="active" {% endif %}>
                            <a href="{% url "events_log" %}">{% trans "Log" %}</a>
                        </li>
                    {% endif %}
                    {% if perms.auth.add_user %}
                        <li role="presentation" {% if request.path in contact_url %} class="active" {% endif %}>
                            <a href="{% url "contact_admin" %}">{% trans "Contact" %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endblock sub-header %}
        <!-- End sub-header -->

        <!-- Start Main Page Content -->
        <div class="row" id="content-columns">
            <div class="col-xs-12" id="content-column">

                <!-- Status Message -->
                {% block status_message %}
                    {% if request.GET.status_message %}
                        <div class="alert alert-warning" role="alert">{{ request.GET.status_message }}</div>
                    {% endif %}
                {% endblock %}

                <!-- Tittle -->
                <h2>{% block title %}{% endblock title %}</h2>

                <!-- Content -->
                {% block content %}{% endblock content %}

            </div>
        </div>
        <!-- End Main Page Content -->

        <br>
        <!-- Start footer -->
        <div class="row" id="footer">
            <div class="col-xs-12">
                {% block footer %}&copy; 2016, {% trans "Students Accounting Service" %}{% endblock footer %}
            </div>
        </div>
        <!-- End footer -->
    </div>
    <!-- End container -->

    <!-- Add spinner -->
    <div id="ajax-loader">
        <img src="{{ PORTAL_URL }}{% static "img/spinner.gif" %}">
    </div>

    <!-- Start Modal student add/edit -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="MyModalLabel"></h4>
                </div>
                <!-- Add spinner -->
                <div class="modal-body"></div>
                <div id="ajax-loader-modal">
                    <img src="{{ PORTAL_URL }}{% static "img/spinner.gif" %}">
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <!-- End Modal student add/edit -->


    <!-- Javascript Inclusion -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/locale/uk.js"></script>

    <!-- jQuery Cookie -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Bootstrap-datetimepicker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <!-- jQuery form -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

    <script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    <script src="{{ PORTAL_URL }}{% static "js/main.js" %}"></script>

    {% block extra_js %}{% endblock extra_js %}
</body>
</html>
