{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Список груп{% endblock title %}


{% block content %}

<!-- Add Group Button -->
<a class="btn btn-primary" href="{% url "groups_add" %}">Додати групу</a>

<!-- Start Groups Listing -->
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th><a href="#">#</a></th>
        <th><a href="#">Назва&uarr;</a></th>
        <th><a href="#">Староста</a></th>
        <th>Дії</th>
    </tr>
    </thead>
    <tbody>

    {% for group in groups %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a title="Редагувати" href="{% url "groups_edit" group.id %}">{{ group.name }}</a></td>
        <td><a title="Редагувати" href="{% url "students_edit" group.leader.id %}">{{ group.leader.name }}</a></td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Дія <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{% url "groups_edit" group.id %}">Редагувати</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url "groups_delete" group.id %}">Видалити</a></li>
                </ul>
            </div>
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>
<nav>
  <ul class="pagination">
    <li class="disabled"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">Далі</span>
      </a>
    </li>
  </ul>
</nav>
<!-- End Groups Listing -->

{% endblock content %}