{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Delete Group" %}{% endblock meta_title %}

{% block title %}{% trans "Delete Group" %}{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>{% blocktrans %}Do you really want to delete group "{{ object }}"?{% endblocktrans %}</p>
        <input type="submit" value="{% trans "Yes" %}" name="delete_button" class="btn btn-danger">
        <input type="submit" value="{% trans "No" %}" name="cancel_button" class="btn btn-default">
        <br>
    </form>
{% endblock content %}
