{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Список груп{% endblock title %}


{% block content %}

<!-- Add Group Button -->
<a class="btn btn-primary" href="{% url "groups_add" %}">Додати групу</a>

<!-- Start Groups Listing -->
{% if groups %}
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>
                <a href="{% url "groups" %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif %}">
                    #
                    {% if order_by == 'id' and reverse != '1' %}&uarr;
                    {% elif order_by == 'id' and reverse == '1' %}&darr;
                    {% endif %}
                </a>
            </th>
            <th>
                <a href="{% url "groups" %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1{% endif %}">
                    Назва
                    {% if order_by == 'title' and reverse != '1' %}&uarr;
                    {% elif order_by == 'title' and reverse == '1' %}&darr;
                    {% endif %}
                </a>
            </th>
            <th>
                <a href="{% url "groups" %}?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&amp;reverse=1{% endif %}">
                    Староста
                    {% if order_by == 'leader' and reverse != '1' %}&uarr;
                    {% elif order_by == 'leader' and reverse == '1' %}&darr;
                    {% endif %}
                </a>
            </th>
            <th>Дії</th>
        </tr>
        </thead>
        <tbody>

        {% for group in groups %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a title="Редагувати" href="{% url "groups_edit" group.id %}">{{ group.title }}</a></td>
            <td>{{ group.leader }}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Дія <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="{% url "groups_edit" group.id %}">Редагувати</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url "groups_delete" group.id %}">Видалити</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
{% else %}
    <p>Групи відсутні</p>
{% endif %}
<!-- End Groups Listing -->

<!-- Start Pagination -->
{% if groups.has_other_pages %}
    <nav>
        <ul class="pagination">
            <li>
                <a href="{% url "groups" %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">
                    &laquo;
                </a>
            </li>
            {% for p in groups.paginator.page_range %}
                <li {% if groups.number == p %}class="active"{% endif %}>
                    <a href="{% url "groups" %}?page={{ p }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">
                        {{ p }}
                    </a>
                </li>
            {% endfor %}
            <li>
                <a href="{% url "groups" %}?page={{ groups.paginator.num_pages }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">
                    &raquo;
                </a>
            </li>
        </ul>
    </nav>
{% endif%}
<!-- End Pagination -->

{% endblock content %}