{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load pagenav %}

{% block meta_title %}{% trans "Groups" %}{% endblock meta_title %}

{% block title %}{% trans "Groups List" %}{% endblock title %}


{% block content %}

<!-- Add Group Button -->
<a class="btn btn-primary form-link" href="{% url "groups_add" %}">{% trans "Add Group" %}</a>

<!-- Start Groups Listing -->
{% if groups %}
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>
                <a href="{% url "groups" %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif %}" class="content-link">
                    #
                    {% if order_by == 'id' and reverse != '1' %}&uarr;
                    {% elif order_by == 'id' and reverse == '1' %}&darr;
                    {% endif %}
                </a>
            </th>
            <th>
                <a href="{% url "groups" %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1{% endif %}" class="content-link">
                    {% trans "Title" %}
                    {% if order_by == 'title' and reverse != '1' %}&uarr;
                    {% elif order_by == 'title' and reverse == '1' %}&darr;
                    {% endif %}
                </a>
            </th>
            <th>
                <a href="{% url "groups" %}?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&amp;reverse=1{% endif %}" class="content-link">
                    {% trans "Leader" %}
                    {% if order_by == 'leader' and reverse != '1' %}&uarr;
                    {% elif order_by == 'leader' and reverse == '1' %}&darr;
                    {% endif %}
                </a>
            </th>
            <th>{% trans "Actions" %}</th>
        </tr>
        </thead>
        <tbody>

        {% for group in groups %}
        <tr>
            <td class="group-box">{{ forloop.counter }}</td>
            <td class="group-box"><a title="{% trans "Edit" %}" class="form-link" href="{% url "groups_edit" group.id %}">{{ group.title }}</a></td>
            <td class="group-box">{{ group.leader }}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "Action" %} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="form-link" href="{% url "groups_edit" group.id %}">{% trans "Edit" %}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="form-link" href="{% url "groups_delete" group.id %}">{% trans "Delete" %}</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
{% else %}
    <p>{% trans "There is no group in the database yet" %}</p>
{% endif %}
<!-- End Groups Listing -->

<!-- Start Pagination -->
{% pagenav object_list=groups base_url=groups_url order_by=order_by reverse=reverse cur_month=None is_paginated=is_paginated paginator=paginator %}
<!-- End Pagination -->

{% endblock content %}