{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Journal" %}{% endblock meta_title %}

{% block title %}{% trans "Monthly Journal" %}{% endblock title %}


{% block content %}
    {% if not students %}
        <div class="alert alert-warning">
            {% url "students_add" as students_add_anchor %}
            {% blocktrans %}
                There are no students in the database yet.
                Please, <a href="{{ students_add_anchor }}">add</a> your first student.
            {% endblocktrans %}
        </div>
    {% else %}
        <div class="alert alert-warning">
            {% trans "We automatically save changes into journal while you click inside table cells. " %}
            <span id="ajax-error">{% trans "Error! Data not saved." %}</span>
        </div>

        <p id="journal-nav" class="text-center">
            <a href="{{ journal_url }}?month={{ prev_month }}" class="content-link" title="{% trans "Previous Month" %}">&larr;</a>
            <strong>{% trans month_verbose %} {{ year }}</strong>
            <a href="{{ journal_url }}?month={{ next_month }}" class="content-link" title="{% trans "Next Month" %}">&rarr;</a>
        </p>
        <table class="table table-hover table-striped table-bordered table-condensed">
            <thead>
                <tr class="header">
                    <th class="num day-header">#</th>
                    <th class="name day-header">{% trans "Student" %}</th>
                    {% for day in month_header %}
                        <th class="day-header">
                            {% trans day.verbose %}
                            <br>
                            {{ day.day }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% csrf_token %}
                {% for student in students %}
                    <tr>
                        <td class="day-box">
                            {% if is_paginated %}
                                {{ page_obj.start_index|add:forloop.counter|add:"-1" }}
                            {% else %}
                                {{ forloop.counter }}
                            {% endif %}
                        </td>
                        <td class="student-box">
                            <a href="{% url "students_edit" student.id %}" class="form-link" title="{% trans "Edit" %}">
                                {{ student.fullname }}
                            </a>
                        </td>
                        {% for day in student.days %}
                            <td class="day-box">
                                <input type="checkbox" data-student-id="{{ student.id }}"
                                       data-date="{{ day.date }}" data-url="{{ student.update_url }}"
                                       value="1"{% if day.present %} checked="checked" {% endif %}>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% with object_list=students baseUrl=journal_url %}
        {% include "students/pagination.html" %}
    {% endwith %}

{% endblock content %}
