{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Журнал{% endblock meta_title %}

{% block title %}Облік відвідування{% endblock title %}


{% block content %}
    {% if not students %}
        <div class="alert alert-warning">
            Студенти відсутні. Будь-ласка, <a class="form-link" href="{% url "students_add" %}">додайте</a> першого.
        </div>
    {% else %}
        <div class="alert alert-warning" id="ajax-success">
            Зміни в журнал зберігаються автоматично при кожному кліку в клітинці таблиці.
            <span id="ajax-progress-indicator">Йде збереження...</span>
            <span id="ajax-error">Виникла помилка, дані не збереженно!</span>
        </div>

        <p id="journal-nav" class="text-center">
            <a href="?month={{ prev_month }}" title="Попередній Місяць">&larr;</a>
            <!-- TODO: translate month name -->
            <strong>{{ month_verbose }} {{ year }}</strong>
            <a href="?month={{ next_month }}" title="Наступний Місяць">&rarr;</a>
        </p>

        <table class="table table-hover table-striped table-bordered table-condensed" id="students-journal">
            <thead>
                <tr class="header">
                    <th class="num day-header">#</th>
                    <th class="name day-header">Студент</th>
                    {% for day in month_header %}
                        <th class="day-header">
                            <!-- TODO: translate day name -->
                            {{ day.verbose }}
                            <br>
                            {{ day.day }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% csrf_token %}
                {% for student in students %}
                    <tr>
                        <td class="day-box">
                            {% if is_paginated %}
                                {{ page_obj.start_index|add:forloop.counter|add:"-1" }}
                            {% else %}
                                {{ forloop.counter }}
                            {% endif %}
                        </td>
                        <td class="student-box">
                            <a href="{% url "students_edit" student.id %}" class="form-link" title="Редагувати">
                                {{ student.fullname }}
                            </a>
                        </td>
                        {% for day in student.days %}
                            <td class="day-box">
                                <input type="checkbox" data-student-id="{{ student.id }}"
                                       data-date="{{ day.date }}" data-url="{{ student.update_url }}"
                                       value="1"{% if day.present %} checked="checked" {% endif %}>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% with object_list=students %}
        {% include "students/pagination.html" %}
    {% endwith %}

{% endblock content %}
