{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Журнал{% endblock meta_title %}

{% block title %}Облік відвідування{% endblock title %}


{% block content %}

        <!-- Start Main Page Content -->
        <div class="row">
            <div class="col-xs-12">
                <div class="table-caption">
                    <a href="#">&larr;</a>
                    <a href="#">Березень 2016</a>
                    <a href="#">&rarr;</a>
                </div>
            </div>
        </div>
        <div class="row" id="content-columns">
            <div class="col-xs-12">
                <div class="table-responsive" id="content-column">
                    <!-- Start Day Listing -->
                    <table class="table table-hover table-striped table-bordered table-condensed">
                        <thead id="th-center">
                        <tr>
                            <th><a href="#">#</a></th>
                            <th><a href="#">Студент</a></th>
                            <th><a href="#">Вт<br>1</a></th>
                            <th><a href="#">Ср<br>2</a></th>
                            <th><a href="#">Чт<br>3</a></th>
                            <th><a href="#">Пт<br>4</a></th>
                            <th><a href="#">Сб<br>5</a></th>
                            <th><a href="#">Нд<br>6</a></th>
                            <th><a href="#">Пн<br>7</a></th>
                            <th><a href="#">Вт<br>8</a></th>
                            <th><a href="#">Ср<br>9</a></th>
                            <th><a href="#">Чт<br>10</a></th>
                            <th><a href="#">Пт<br>11</a></th>
                            <th><a href="#">Сб<br>12</a></th>
                            <th><a href="#">Нд<br>13</a></th>
                            <th><a href="#">Пн<br>14</a></th>
                            <th><a href="#">Вт<br>15</a></th>
                            <th><a href="#">Ср<br>16</a></th>
                            <th><a href="#">Чт<br>17</a></th>
                            <th><a href="#">Пт<br>18</a></th>
                            <th><a href="#">Сб<br>19</a></th>
                            <th><a href="#">Нд<br>20</a></th>
                            <th><a href="#">Пн<br>21</a></th>
                            <th><a href="#">Вт<br>22</a></th>
                            <th><a href="#">Ср<br>23</a></th>
                            <th><a href="#">Чт<br>24</a></th>
                            <th><a href="#">Пт<br>25</a></th>
                            <th><a href="#">Сб<br>26</a></th>
                            <th><a href="#">Нд<br>27</a></th>
                            <th><a href="#">Пн<br>28</a></th>
                            <th><a href="#">Вт<br>29</a></th>
                            <th><a href="#">Ср<br>30</a></th>
                            <th><a href="#">Чт<br>31</a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td><a title="Редагувати" href="#">Подоба Віталій</a></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><a title="Редагувати" href="#">Корост Андрій</a></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><a title="Редагувати" href="#">Притула Тарас</a></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox" checked></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- End Day Listing -->
                </div>
            </div>
        </div>
        <!-- End Main Page Content -->

{% endblock content %}