{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Редагування студента{% endblock meta_title %}

{% block title %}Редагування студента{% endblock title %}

{% block status_message %}
    {% if rorm.errors %}
        <div class="alert alert-danger" role="alert">Будь-ласка, виправте наступні помилки:</div>
    {% endif %}
{% endblock %}

{% block content %}
    <form action="{% url 'students_edit' object.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Зберегти" name="add_button" class="btn btn-primary">
        <button type="submit" name="cancel_button" value="Скасувати" class="btn btn-link">Скасувати</button>
    </form>
{% endblock content %}