{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}База Студентів{% endblock title %}


{% block content %}

<!-- Add Student Button -->
<a class="btn btn-primary" href="{% url "students_add" %}">Додати Студента</a>

<!-- Start Students Listing -->
<table class="table table-hover table-striped table-condensed">
    <thead>
    <tr>
        <th><a href="#">#</a></th>
        <th>Фото</th>
        <th><a href="#">Прізвище&uarr;</a></th>
        <th><a href="#">Ім'я</a></th>
        <th><a href="#">№ білета</a></th>
        <th>Дії</th>
    </tr>
    </thead>
    <tbody>

    {% for student in students %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><img src="{% static student.image %}" height="30" width="30" class="img-circle"></td>
        <td><a title="Редагувати" href="{% url "students_edit" student.id %}">{{ student.last_name }}</a></td>
        <td><a title="Редагувати" href="{% url "students_edit" student.id %}">{{ student.first_name }}</a></td>
        <td>{{ student.ticket }}</td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Дія <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{% url "students_edit" student.id %}">Редагувати</a></li>
                    <li><a href="/journal/{{ student.id }}">Відвідування</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url "students_delete" student.id %}">Видалити</a></li>
                </ul>
            </div>
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>
<!-- End Students Listing -->

<!-- Start Pagination -->
<nav>
    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</nav>
<!-- End Pagination -->

{% endblock content %}