{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Додати студента{% endblock meta_title %}

{% block title %}Додати студента{% endblock title %}

<!-- Status Message -->
{% block status_message %}
    {% if errors %}
        <div class="alert alert-danger" role="alert">Будь-ласка, виправте наступні помилки:</div>
    {% endif %}
{% endblock %}


{% block content %}

    <form action="{% url 'students_add' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="first_name">Ім'я*</label>
            <input type="text" value="{{ request.POST.first_name }}" name="first_name" id="first_name" placeholder="Введіть Ваше ім'я">
            <span class="help-block">{{ errors.first_name }}</span>
        </div>

        <div>
            <label for="last_name">Прізвище*</label>
            <input type="text" value="{{ request.POST.last_name }}" name="last_name" id="last_name" placeholder="Введіть Ваше прізвище">
            <span class="help-block">{{ errors.last_name }}</span>
        </div>

        <div>
            <label for="middle_name">По батькові</label>
            <input type="text" value="{{ request.POST.middle_name }}" name="middle_name" id="middle_name" placeholder="Введіть Ваше по батькові">
        </div>

        <div>
            <label for="birthday">Дата народження*</label>
            <input type="text" value="{{ request.POST.birthday }}" name="birthday" id="birthday" placeholder="Наприклад: 1984-12-30">
            <span class="help-block">{{ errors.birthday }}</span>
        </div>

        <div>
            <label for="photo">Фото</label>
            <input type="file" value="" name="photo" id="photo">
        </div>

        <div>
            <label for="ticket">Білет</label>
            <input type="text" value="{{ request.POST.ticket }}" name="ticket" id="ticket">
            <span class="help-block">{{ errors.ticket }}</span>
        </div>

        <div>
            <label for="student_group">Група*</label>
            <select name="student_group" id="student_group" class="form-control">
                <option value="">Виберіть групу</option>
                {% for group in groups %}
                    <option value="{{ group.id }}" {% if group.id == request.POST.student_group|add:0 %}selected="1"{% endif %}>
                        {{ group.title }}
                    </option>
                {% endfor %}
            </select>
            <span class="help-block">{{ errors.student_group }}</span>
        </div>

        <div>
            <label for="notes">Додаткові нотатки</label>
            <textarea name="notes" id="notes" class="form-control">{{ request.POST.notes }}</textarea>
        </div>

        <div>
            <button type="submit" name="add_button">Додати</button>
            <button type="submit" name="cancel_button">Скасувати</button>
        </div>
    </form>

{% endblock content %}