{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load pagenav %}

{% block meta_title %}{% trans "Students" %}{% endblock meta_title %}

{% block title %}{% trans "Students List" %}{% endblock title %}


{% block content %}

<!-- Add Student Button -->
{% if user.is_authenticated %}
    <a class="btn btn-primary form-link" href="{% url "students_add" %}">{% trans "Add Student" %}</a>
{% endif %}
<!-- Start Students Listing -->
{% if students %}
    <table class="table table-hover table-striped table-condensed">
        <thead>
        <tr>
            <th>
                <a href="{% url "home" %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif %}" class="content-link">
                    #
                    {% if order_by == 'id' and reverse != '1' %}&uarr;
                    {% elif order_by == 'id' and reverse == '1' %}&darr;
                    {% endif %}
                </a>
            </th>
            <th>{% trans "Photo" %}</th>
            <th>
                <a href="{% url "home" %}?order_by=last_name{% if order_by == 'last_name' and reverse != '1' %}&amp;reverse=1{% endif %}" class="content-link">
                    {% trans "Last Name" %}
                    {% if order_by == 'last_name' and reverse != '1' %}&uarr;
                    {% elif order_by == 'last_name' and reverse == '1' %}&darr;
                    {% endif %}
                </a>
            </th>
            <th>
                <a href="{% url "home" %}?order_by=first_name{% if order_by == 'first_name' and reverse != '1' %}&amp;reverse=1{% endif %}" class="content-link">
                    {% trans "First Name" %}
                    {% if order_by == 'first_name' and reverse != '1' %}&uarr;
                    {% elif order_by == 'first_name' and reverse == '1' %}&darr;
                    {% endif %}
                </a>
            </th>
            <th>
                <a href="{% url "home" %}?order_by=ticket{% if order_by == 'ticket' and reverse != '1' %}&amp;reverse=1{% endif %}" class="content-link">
                    {% trans "Ticket #" %}
                    {% if order_by == 'ticket' and reverse != '1' %}&uarr;
                    {% elif order_by == 'ticket' and reverse == '1' %}&darr;
                    {% endif %}
                </a>
            </th>
            <th>{% trans "Actions" %}</th>
        </tr>
        </thead>
        <tbody>

        {% for student in students %}
        <tr>
            <td class="student-box">
                {% if is_paginated %}
                    {{ page_obj.start_index|add:forloop.counter0 }}
                {% else %}
                    {{ forloop.counter }}
                {% endif %}
            </td>
            <td class="student-box">
                {% if student.photo %}
                    <img src="{{ student.photo.url }}" height="30" width="30" class="img-circle">
                {% else %}
                    <img src="{{ PORTAL_URL }}{% static "img/default_user.png" %}" height="30" width="30" class="img-circle">
                {% endif %}
            </td>
                <td class="student-box">
                    {% if user.is_authenticated %}
                        <a title="{% trans "Edit" %}" class="form-link" href="{% url "students_edit" student.id %}">
                            {{ student.last_name }}
                        </a>
                    {% else %}
                        <p>{{ student.last_name }}</p>
                    {% endif %}
                </td>
                <td class="student-box">
                    {% if user.is_authenticated %}
                        <a title="{% trans "Edit" %}" class="form-link" href="{% url "students_edit" student.id %}">
                            {{ student.first_name }}
                        </a>
                    {% else %}
                        <p>{{ student.first_name }}</p>
                    {% endif %}
                </td>
            <td class="student-box">{{ student.ticket }}</td>
            <td>
                {% if user.is_authenticated %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans "Action" %} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="{% url "students_edit" student.id %}" class="form-link">{% trans "Edit" %}</a></li>
                            <li><a href="{% url "journal" student.id %}" class="content-link">{% trans "Journal" %}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url "students_delete" student.id %}" class="form-link">{% trans "Delete" %}</a></li>
                        </ul>
                    </div>
                 {% else %}
                    <p>-</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
{% else %}
    <div class="alert alert-warning">
        {% if user.is_authenticated %}
            {% url "students_add" as students_add_anchor %}
            {% blocktrans %}
                There are no students in the database yet.
                Please, <a href="{{ students_add_anchor }}">add</a> your first student.
            {% endblocktrans %}
        {% else %}
            <p>There are no students in the database yet.</p>
        {% endif %}
    </div>
{% endif %}
<!-- End Students Listing -->

<!-- Start Pagination -->
{% pagenav object_list=students base_url=students_url order_by=order_by reverse=reverse cur_month=None is_paginated=is_paginated paginator=paginator %}
<!-- End Pagination -->

{% endblock content %}