/* Global Styles */

/*[class*="col-"] {
  border: 1px solid red;
}*/

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
.alert {
    /* Ми додали відстань лише зверху елемента: -top */
    margin: 10px 0 5px 0;
}
/* знайшли елемент футера по його унікальному ідентифікатору */
#footer {
    /* задаємо верхню межу елемента: ширина лінії, тип лінії, колір лінії */
    border-top: 1px solid #dddddd;
    /* задаємо внутрішню відстань елемента до верхнього краю */
    padding-top: 10px;
}
/* Groups Selector */
#group-selector {
    margin-top: 30px;
}
#group-selector select {
    margin: 0;
    width: 80%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 30px;
    line-height: 30px;
    color: #555555;
}

.table-caption {
  text-align: center;
  padding-bottom: 10px;
}

td.day-box,
th.day-header {
    vertical-align: middle !important;
    text-align: center;
}

td.student-box,
td.group-box {
    vertical-align: middle !important;
}

/*textarea,*/
/*select,*/
/*input {*/
    /*max-width: 300px;*/
/*}*/

#ajax-loader,
#ajax-loader-modal {
    display: none;
}

#ajax-loader > img,
#ajax-loader-modal > img {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    height: 50px;
    width: 50px;
}

#ajax-progress-indicator,
#ajax-error,
#ajax-loader,
#ajax-loader-modal {
    display: none;
}

#ajax-error {
    color: red;
}

#user-toolbar {
    margin-top: 30px;
    float: right;
}