{% extends "students/base.html" %}
{% load i18n %}

{% block title %}
    {% if user.is_authenticated %}
        {% trans "Account Activated" %}
    {% else %}
        {% trans "Account activation failed." %}
    {% endif %}
{% endblock %}

{% block content %}
    <br>
    {% if user.is_authenticated %}
        <h3 style="color: blue"><strong>{% trans "Hello, " %}{{ user }}!</strong></h3>
        <br>
        <p>{% trans "Your account is now activated." %}</p>
    {% else %}
        <h3 style="color: red">{% trans "Invalid key: " %}{{ activation_key }}</h3>
        <br>
        {% trans "Account activation failed." %}
    {% endif %}
    <br>
{% endblock %}


{% comment %}
**registration/activate.html**

If account activation fails.
With the default setup, has the following context:
``activation_key``
    The activation key used during the activation attempt.

If successful account activation.
This template has no context variables of its own, and should
simply inform the user that their account is now active.
{% endcomment %}