{% extends "students/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block status_message %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% trans "Please, correct the following errors" %}:
        </div>
    {% endif %}
{% endblock %}

{% block content %}
{#    <p>{% trans "Enter your new password below to reset your password:" %}</p>#}
    {% crispy form %}
{% endblock %}


{# This is used by django.contrib.auth #}