{% extends "students/base.html" %}

{% load i18n %}
{% load nice_username %}

{% block meta_title %}{{ user|nice_username }}{% endblock meta_title %}

{% block title %}{{ user|nice_username }}{% endblock title %}

{% block content %}

<table class="table table-striped">
    {% if user.email %}
        <tr>
            <td>{% trans "E-mail Adress" %}</td>
            <td>{{ user.email }}</td>
        </tr>
    {% endif %}
    <tr>
        <td>{% trans "Nick" %}</td>
        <td>{{ user.username }}</td>
    </tr>
    {% if user.stprofile.mobile_phone %}
        <tr>
            <td>{% trans "Mobile Phone" %}</td>
            <td>{{ user.stprofile.mobile_phone }}</td>
        </tr>
    {% endif %}
    <tr>
        <td>{% trans "Registration date" %}</td>
        <td>{{ user.date_joined }}</td>
    </tr>
</table>

{% endblock content %}
