{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Admin Contact" %}{% endblock meta_title %}

{% block title %}{% trans "Admin Contact" %}{% endblock title %}

{% block status_message %}
    {% if request.GET.message_error %}
        <div class="alert alert-danger" role="alert">{{ request.GET.status_message }}</div>
    {% else %}
        {% if request.GET.status_message %}
            <div class="alert alert-success" role="alert">{{ request.GET.status_message }}</div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <a class="btn btn-primary form-link" href="{% url "contact_letter" %}">
        {% trans "Send letter to Administrator" %}
    </a>
{% endblock content %}