{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Зв'язок з Адміністратором{% endblock meta_title %}

{% block title %}Зв'язок з Адміністратором{% endblock title %}

{% block status_message %}
    {% if form.errors %}
        <div class="alert alert-warning" role="alert">Будь-ласка, виправте наступні помилки</div>
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <form action="{% url "contact_admin" %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Надіслати" name="send_button">
    </form>
{% endblock content %}
